

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500&family=IBM+Plex+Sans:wght@200;300;400&family=Sanchez&display2=swap');


@font-face {
    font-family: 'body';
    src: url('font/VremenaGroteskBook.otf')format('truetype');
    font-style: normal;
    font-weight: 200;
}


@font-face{
    font-family: "Mont-regular";
    src:url('font/Mont-regular.ttf')format('truetype')
}

@font-face {
    font-family: "Mont-Semibold";
    src:url('font/Mont-SemiBold.ttf')format('truetype')
}


@font-face {
    font-family: "MuseoSlab-Semibold";
    src:url('font/Museo_Slab_500.otf')format('truetype')
}


@font-face {
    font-family: "MuseoSlab-Regular";
    src:url('font/Museo_Slab_300.otf')format('truetype')
}


@font-face {
    font-family: "VremenaGroteskBook";
    src: url('font/VremenaGroteskBook.otf'truetype');
}

@font-face {
    font-family: "VremenaGroteskMedium";
    src: url('font/VremenaGroteskMedium.otf')format('truetype');
}

@font-face {
    font-family: "VremenaGroteskRegular";
    src: url('font/VremenaGroteskRegular.otf')format('truetype');
}
 
 
@font-face {
    font-family: "Grotesk";
    src: url('font/');
}


body{
    font-family:'body', sans-serif;
    font-weight: 300;
    font-size:16px;
    line-height: 1.6;
    letter-spacing: 0.4px;
    color:var(--textprimary);
}

.btn{
    font-family: "body";
    font-family: "VremenaGroteskBook";
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 2px;
}

.gallery{
    font-family: 'gallery';
    font-size:48px;
}


/**Page Title**/
h1{
    font-family: 'VremenaGrotesk' !important;
    font-size:28px;
    line-height: 1.3; 
    color:var(--textprimary);
    letter-spacing: 1px;
    margin-bottom: 8px;
   
}

/**Section Title**/
h2{
    font-family: "VremenaGroteskBook" !important;
    font-size:28px;
    line-height: 1.6 ;
    color:var(--textprimary);
    margin-bottom: 24px;
}

/**Sub Section Title**/
h3{
    vertical-align: middle;
    font-family:'VremenaGrotesk';
    font-size:20px;
    line-height: 1.5 ;
    color:var(--textprimary);
    margin-top: 24px;
    margin-bottom: 16px
}
/**Description Title**/
h4{
    font-family:'VremenaGrotesk';
    font-size:16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 8px;
    color:var(--textprimary);
}


.display1{
    font-size: 56px;
    font-family: 'VremenaGrotesk';
    color:#1B0B49;
}

.display2{
    font-size: 32px;
    /* color: #444444; */
    font-family: 'VremenaGrotesk';
    line-height: 1.5;
    letter-spacing: 1px;
    color:#1B0B49;

}
.display3{
    font-size: 32px;
    color:var(--primary);
    /* color: #444444; */
    font-family: 'VremenaGrotesk';
    line-height: 1.5;

}

.caption{
    font-family: 'body', sans-serif;
    font-size:14px;
    letter-spacing: 1px;
    color: #999;  
    margin-bottom: 12px;
}
.resume-title{
    font-size: 18px;
    font-family: 'VremenaGrotesk';
    margin-bottom: 16px !important;
}

.resume-content{
    font-size: 16px;
    font-family: 'VremenaGroteskBook';
    margin-bottom: 16px !important;

}
.body-large{
    font-family:'body', sans-serif;
    font-weight: 300;
    font-size:18px;
    line-height: 1.6;
    letter-spacing: 0.4px;
    color:var(--textprimary);

}

.body-regular{
    font-family:'body', sans-serif;
    font-weight: 300;
    font-size:16px;
    line-height: 1.6;
    letter-spacing: 0.4px;
    color:var(--textprimary);
}


.body-small{
    font-family: "body" !important;
    font-size: 14px;
    line-height: 1.5;
    color:var(--textprimary);
}

input, textarea, select { font-family:inherit; }



.left{
    text-align:left!important;
    margin-left: 5%;
    margin-right: 5%;
    
}

    
.white{
    color:white;
}
.black{
    color:#333 !important;
}

.gray{
    color:rgb(212, 212, 212);
}
.darkgray{
    color:#999;
}
.green{
    color:#5D9D3C;
}

.paper{
    color:#FDF8EE;
}

p-description{
    font-family: "body";
    font-size:14px;
    line-height: 1.5 ;

}




.bold{
    font-family: "caption" !important;
}

.small{
    
    font-size:14px !important;

}




.list-group{ 
    list-style-type: none;
    margin-top: 20px;
    border: none;
    padding: 0;
    margin-bottom: 15px;
}

.list-group-item{
    font-family: "caption";
    font-size: 16px;
    line-height: 1.5;
    color:#555555;
    border:none;
    padding: 0px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}




.purple{
    color: #695FED;
}

.red{
    color:#E3606C;
}
.grey {
    margin-top: 140px;
    margin-bottom: 30px;
    color:#cccccc;
}


.link{
    /* font-family: 'Mont-regular'; */
    : inline-block;
    
}


.link:hover{
    color:#B0B419;
    text-decoration: none;
    cursor: pointer;
}


.client-link{
    font-size: 14px;
    margin-top:15px;
    color:#666666;
    font-family: "body";
    letter-spacing: 1px; 
}

.client-link:hover{
    color:#432EEE;
}


/*footer*/
.page-footer{
    margin-top: 70px;
    height:80px;
    margin-bottom: 60px;
}

.social-icon{
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    height:40px;

}



.fa{
    color:black;
    font-size:24px;
    margin-right:16px;
    transition: all 0.2s;
}


.fa:hover{
    color:black;
    transform: scale(1.4);
    text-decoration: none;
}

.fa:hover .a{
    color:white;
}


.navbar{
    font-family: "body";
    font-size: 14px;
    letter-spacing: 3px;
}

.navbar-light .navbar-nav .nav-link{
    color: #999999;
}

.navbar-light .navbar-nav .nav-link:active{
    color: black;
}


.navbar-vertical{
    font-family: "body";
    font-size: 15px;
    letter-spacing: 3px;  
    line-height: 5;
}

.navbar-vertical li{
    display:none;
}


.navbar-vertical li a{
    color: #999999;
    display:block;
}

.navbar-vertical li a:hover, .navbar-vertical li.active a {
    	color: #000 !important;
    	background-color: transparent!important; 
    }




@media only screen and (max-width: 992px) {
   .p-footer{
        text-align: center;
    }
    .caption{
        margin-bottom: 0px;
    }
    
    
}

/*-TABLETS-*/
@media only screen and (max-width: 768px) {
}
   
/*MOBILE*/
@media only screen and (max-width: 567px) {
    h1{
        font-size: 23px;
    }
    h2{
        font-size: 18px;
        margin-bottom: 20px;
    }
  


    
    h3{
    line-height: 1.5;
}
    .white_des{
    font-size:13px;
    
}
}



