body{
    padding-top:0px;
    background-color: #ffffff;
    overflow-x: hidden;
    font-family: "body";
    color:var(--textprimary)
}

.container-fluid{
    padding-left:0px;
    padding-right:0px;

}
.row{
    margin-left:0px;
    margin-right:0px;
}


.navbar{
    padding:20px 60px 20px 60px;   
    z-index:99;
}

.menu-button{
    margin-left:-30px;
    z-index:100 !important;
}


.tag{
    background-color:#f5f5f5;
    border-radius:40px;
    padding: 6px 14px 6px 14px;
    font-size: 14px;
}
/*Overwrite hamburger button color*/

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: white;
}



.navbar-vertical{
    text-align: center;
    margin-top:150px;
    display:block;

}


#overlay {
    position:absolute;
    opacity:1;
    display: none; 
    z-index:90;
    width: 100%; 
    height: 100%;
    background-color:white; /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
}


.overlay {
    position:absolute;
    opacity:1;
    display: none; 
    z-index:90;
    width: 100%; 
    height: 100%;
    background-color:white; /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
}


.navbar-light .navbar-toggler{
    border-color: rgba(0,0,0,0);
    border-radius:0px !important;
    right:20%;

}

.bg{
    background-color: #f7f7f7;
}



.credit{
    background-image: url('../img/credit/splash.png');
    background-position: center;
    background-size:cover;

}

.borrowersummary{
    background-image: url('../img/BorrowerSummary/splash.png');
    background-position: center;
    background-size:cover;
    
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #000;
    height: 1px;
}
nav.stroke ul li a:hover:after {
    width: 100%;
    transition: all 0.2s;
}

.pillar{
    margin-top: auto;
    margin-bottom: auto;
    margin-left:12px;
    padding:8px;
    border-radius: 4px;

}

.vertical-align-left{
    margin-top: auto;
    margin-bottom: auto; 
    text-align: left;
}
.line{
    opacity:0;
    left:0;
    right:0;
    margin:auto;
    margin-top:180px;
    height:2px;
    border-bottom: 1px solid white;
    position: absolute;
    z-index:100;

}

.screen{
    border-radius: 16px;
    border-style: solid;
    border-color: #444;
    border-width: 1px;
}

.add-next{
    opacity:0;
}

.infotoggle{
    color:#444;

}
.infotoggle:hover{
    color:#4C66FC;
    cursor: pointer; 
}





/*------------project----------*/

/*------------bg img----------*/
.fullscreen-img{
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
}

.splash{
    height:100vh;
    background-size:cover;
    /*    background-attachment: fixed;*/

}

.placeholder{
    background-color: #f1f1f1;
}
.pj-capstone{
    background-image: url("../img/capstone/banner.jpg")

}

.pj-google{
    background-image: url("../img/homerepair/banner.png")

}

.pj-msra{
    background-image: url("../img/msra/banner.jpg")
}

.pj-lmd{
    background-image: url("../img/lmd/banner.jpg")
}

.pj-borrowersummary{
    background-image: url("../img/BorrowerSummary/banner.png");
}
.storyboards{
    height:300px;
    background-image: url("../img/capstone/storyboard.png")
}



.description{
    margin-top:40px !important;
    margin-bottom: 64px !important;

}

.des-item{
    padding-top: 30px;
    padding-left: 0px;
    margin-bottom: 40px;
}


.title-row{
    text-align: center;
    margin-bottom: 20px;
}



.strip{
    padding-top:6%;
    padding-bottom: 5%;

}


.strip-simple{
    margin-bottom: 0%;
}


.paragraph{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top:16px;
    padding-bottom: 16px;
    margin: auto;
    max-width:760px;
}

.paragraph-simple{
    padding:0px 25% 0px 25%;
}
.strip-twocolumn{
    padding-top:6%;
    padding-bottom: 6%;
    padding-left: 6%;
    padding-right: 6%;
}

/*narrow and medium are not given padding because they always come with paragraph */

.artifact-narrow{
    padding-left: 25%;
    padding-right: 25%;

}

.artifact-inparagraph{
    margin-top: 40px;
}
.artifact-medium{
    text-align: center;
    margin-top: 20px;
    padding-left:15%;
    padding-right: 15%;
}
/*fullscreen images are given paddings to adjust>*/

.artifact-fullscreen{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;


}



.artifact{
    background-color: #f7f7f7;
    padding:3% 3%;   
    text-align: center;
    margin-bottom: 6%;
}





.highlight{
    height:550px;
    text-align: center;
    padding:32px 0px 32px 0px;
}

.imgwrapper{
    display: flex;
    padding:32px;
    background-color: #F0F3FE;
    justify-content: center;
   
}
.purple{
    background-color:#695FED;
}


.blue-bg{
    background-color: #202A41;
}

.R-bg{
    background-color: #4D6BF3;
}

.imgwtxt{
    margin-top: 70px;
    margin-bottom: 150px;
}

/*-image with rounded rec bg-*/

.rounded-rec{
    padding: 0;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 42px -4px rgba(0, 0, 0, .12);
}

.lined-rec{
    padding: 0;
    text-align: center;
    /* background-color: white; */
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #444;
}

.material-rec{
    padding: 24px;
    text-align: center;

    background-color: white;
    
}

#bs-cross{
    text-align: center;
    margin-top: 4%;
    padding:5%;
    background-color:#f7f7f7;
    
}

.mobileframe img{
    border-radius: 24px !important;
    border:6px solid  #444 !important;
}


.flex-gap > div{
    margin: 8px;
}

.quote{
    padding: 20px;
    margin-bottom:20px;
    border-radius: 5px;
    text-align: left;
}

.separator{
    margin-bottom: 80px;
}


.methods{
    border-radius: 10px;
    padding: 15px;
}



.clip-img{
    width:94%;
    height: 92%;
    margin-top: 3%;
    margin-bottom: 3%;
}

/*--------------------*/



.banner{
    padding: 0;
}



.problem-img{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.problem-img img{
    max-width: 85%;
    max-height: 85%;
}

img{
    max-width: 100%;
    max-height: 100%;
    vertical-align:top;

}



.txt{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2%;
    padding-right: 5%;
}

.key-feature{
    padding: 0px;
    margin-top: 10px;
    text-align: center !important;
    align-content: center;

}

.feature-icon{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height:64px;


}


.widecontent{
    text-align: center;
    margin-top:50px; 
    margin-bottom: 40px;
    margin-left:-10%;
    margin-right:-10%;
}



.img-large{
    margin-left: -40px;
    margin-right: -40px;
}



.imgbox{
    padding: 2px;
}



.tablet{
    padding-left: 15%;
    padding-right:15%;}


.scroll-box{
    width:800px;
    height:500px;
    overflow: scroll;
    position:relative;

}

.scroll-box img{
    width:100%;
    height: auto;
    

/*-XLarge Screen-*/
@media only screen and (min-width: 992px) {

    .paragraph{
        max-width:1200px;
        padding-left: auto !important;
        padding-right: auto !important;

        
           
    }
    #overlay {
        display:none;
        background-color:white;
    }

}

/*-Large Screen-*/
@media only screen and (max-width: 992px) {
    .paragraph{
        max-width:1200px;
        padding-left: auto !important;
        padding-right: auto !important;
        margin-bottom: 5%;
        
           
    }


    .navbar{
        padding:20px 60px 20px 40px;   
    }

    
    .copyright{
        text-align: center;
    }

}

/*-TABLETS-*/
@media only screen and (max-width: 768px) {
    .paragraph{

        padding-left: 10% !important;
        padding-right: 10% !important;
        margin-bottom: 5%;   
    }

    .hidecontent{
        display: none;

    }
    /* .description{
        flex-direction: column-reverse;
    } */


    .paragraph{
        padding-left:10% !important;
        padding-right:10% !important;
    }
    .txt{
        margin-bottom: 20px;
        padding-left: 10%;
        padding-right: 10%;
    }
}

/*-PHONE-*/
@media only screen and (max-width: 576px) {
    .paragraph{
        padding-left: 10% !important;
        padding-right: 10% !important;
        margin-bottom:0 !important;
    }
    .paragraph-simple{
         padding-left: 10% !important;
        padding-right: 10% !important;
        margin-bottom:0 !important;
        
    }

}


