:root{
    --primary:#1B0B49;
    --base00:#fefff5;
    --base01:#f9f7f4;
    --babyblue:#EBF2FF;
    --eggyolk:#EBF2FF;
    --purple:#ECEBFF;
    --wasabi:#EAF2D2;
    --textprimary:#333333;


}
body{
    padding-top:0px;
    overflow-x: hidden;
    font-family: "body";
}

.home{
    background-color: var(--base00);
    padding:64px 8% 32px 8%; 
    /* display: flex; 
    flex-direction:column;  */
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    margin-bottom: 96px;
    display: flex; 
    justify-content: right;
}

.tag-group{
    display: flex;
    gap:4px;

}
.tags{
    padding: 12px 16px;
    margin-right: 12px;
    font-size: 16px;
    color:#1B0B49;
    border-radius:24px;
    border: 1px solid #EFEAE3;
    display: inline-block;
    width: fit-content;
    background-color: var(--base01);

}

.container-fluid{
    padding-left:0px;
    padding-right:0px;
    max-width: 1200px;
    
}
.row{
    margin-left:0px;
    margin-right:0px;
}

.tagline{
    margin-bottom: 100px;
    display:flex;
    gap:100px;
    justify-content:flex-start;
    padding: 0 !important;
    
    

  
    /* align-items: left;
    justify-self: center; */

}

.tagline-right{
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*remove button outline and shadow*/
button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

/*button general styling*/
.btn{
    background-color:rgb(0,0,0,0.05);
    border-radius:32px;
    padding: 16px 24px 16px 24px !important;
    transition:all 0.9s;
    position:relative;
    color: var(--primary);
    text-align: center;
    margin-top: 0;
    margin-bottom: auto;
    display: flex;

}
.btn:hover{
    background-color: transparent !important;
    color: white;
}

.btn::before,
.btn::after {
  border-radius: 32px;
  background: #1B0B49;
  content: '';
  position: absolute;
  z-index: -1;
}


/*dark button hover*/
.btn-lightmode{
    overflow: hidden;
    border: none;
  
    
}
.btn-lightmode:hover{
    background-color: transparent;
}

.btn-lightmode:hover .btn-icon{
    background-image: url('/img/homepage/arrowwhite.svg');
    
}

.btn-lightmode:hover .btn-back-light{
    background-image: url('/img/homepage/arrow-back-white.svg');

}
.btn-icon{
    margin-left: 8px;
    display: inline-block;
    width: 26px;
    height: 22px;
    background-image: url('/img/homepage/arrow.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.3s;
}

.btn-back{
    margin-right: 8px;
    display: inline-block;
    width: 26px;
    height: 22px;
    background-image: url('/img/homepage/arrow-back-white.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.3s;

}
.btn-back:hover{
    background-image: url('/img/homepage/arrow-back-white.svg') !important;

}

.btn-back-light{
    margin-right: 8px;
    display: inline-block;
    width: 26px;
    height: 22px;
    background-image: url('/img/homepage/arrow-back-dark.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.3s;

}


.mask{
    display: inline-block;

    width:20px;
    height: 24px;
    background: url('/img/homepage/arrow.svg');
    -webkit-mask: url('/img/homepage/arrow.svg') no-repeat center;
    mask: url('/img/homepage/arrow.svg') no-repeat center;
}

.btn-lightmode::after{
    color: white;
    height:100%;
    left:-42%;
    top:0px;
    transform:skew(45deg);
    transition-duration:0.5s;
    transform-origin:top right;
    width:0;   
}

.btn-lightmode:hover .img{
    fill:white;
}
.btn-lightmode:hover:after{
    
    height:100%;
    width:145%;
}



.card-parent{ 
    display: flex;
    border-radius: 32px;
    padding: 32px 64px 32px 88px;
    margin-bottom: 32px; 
    gap: 64px;
    /* align-items: left; */
    justify-content:space-between;
    overflow: hidden;
    transition: all 0.3s;
    aspect-ratio: 2;

    
}

.card-parent:hover{
    cursor: pointer;
    transform: scale(1.02);

}

.card-parent:hover .btn-request{
    opacity: 1;

}
.card-parent:hover .card-rightChild .horizontalOval  {
    transform: rotate(-20deg);
    transition: all 0.3s;
}

.card-parent:hover .card-rightChild .diamond  {
    transform: rotate(20deg);
    transition: all 0.3s;
}


.card-parent:hover .card-rightChild .circle  {
    transform: scale(0.85);
    transition: all 0.3s;
}



.card-leftChild{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;



}

.card-title{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-self: center;
}

.card-action{
   margin-bottom: 32px;
    
}


.card-rightChild{
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    aspect-ratio: 1;

}


.card-img{
    top:50%;
    text-align: center;
    z-index: 1;

}

.horizontalOval{
    transition: all 0.5s;
    position: absolute;
    width:96%;
    height:60%;
    background-color:var(--primary);
    border-radius: 240px;
}

.verticalOval{
    transition: all 0.5s;
    position: absolute;
    width:56%;
    height:90%;
    background-color:var(--primary);
    border-radius: 200px;


}
.circle{
    transition: all 0.5s;
    position: absolute;
    width:65%;
    height:68%;
    background-color:var(--primary);
    border-radius: 400px;

}
.diamond{
    position: absolute;
    transition: all 0.5s;
    rotate: 45deg;
    width:70%;
    height:70%;
    background-color:var(--primary);
    border-radius: 100px;

}


.dropshadow{
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, .08);
}


.slideupSection{
    display:flex;
    flex-wrap:wrap;
    position: relative;
    /* /* margin-top: 16px; */
    margin-bottom: 32px; */
    
}

.slideupSection ::before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    z-index: 1;


}
.slideupSection .slide-texts{
    background-color: transparent;
    /* display: flex; */
    position: relative;
    z-index: 2;
}


.slideupSection .slide-texts p span{
    display:inline-block;
    display: none;
    line-height: 86px;
}

.slideupSection .slide-texts p span img{
    margin-right: 12px;
    height: 86px;
}

.slideupSection .slide-texts p span.text-in{
  display:block;
  animation: textIn .5s ease; 
}
.slideupSection .slide-texts p span.text-out{
    
    animation: textOut .5s ease; 
  }


@keyframes textIn {
    0%{
        opacity: 0%;
        transform:translateY(-30%)
    }
    100%{
        opacity: 100%;
        transform:translateY(0%)
    }
}
@keyframes textOut {
    0%{
        opacity: 0%;
        transform:translateY(0%);
       
    }
    100%{
        transform:translateY(30%);
        opacity: 100%;
    }
}

.resume-section{
    display: flex;
    gap:80px;
    justify-content: flex-start;
    margin-top: 64px;
}

.resume-sectionRight{
    display: flex;
    gap:32px;
    margin-bottom: 64px;
    width: min-content;

   
}


.resume-leftColumn{
    flex-basis: 200px;
    flex-grow:0;
    flex-shrink: 0;

}
.resume-midColumn{
    flex-basis: 320px;
    flex-grow:0;
    flex-shrink: 0;
    margin-top: 8px !important;
}

.resume-rightColumn{
    margin-top: 8px;
    flex-basis: 400px;
    flex-grow:0;
    flex-shrink: 0;
   
}

/* Modal */
.modal{
    
    border-radius: 15px;
   
}

.modal-content{
    padding: 20px;
    height: 400px;
     
}

.modal-header  {
    border-bottom: 0 none;
   
}

.modal-footer {
    border-top: 0 none;
}

.close {
  font-weight: 400;
}


.input-box{
    margin-top: 30px;
    width: 100%;
    font-family: "font-light";
    letter-spacing: 4px;
    height: 30px;
    border-left: none;
    border-top:none;
    border-right:none;
    
}

.input-box:focus {
    outline: none !important;
    box-shadow: none;
    border-bottom-color: black;
    transition: all 0.2s ease;
    
}

::placeholder{
    color:#999999;
    font-family: "font-light" !important;
}

#validation{
    font-family: "font-light";
    margin-top: 8px;
    display: none;
    color:crimson;
}



img{
    max-width: 100%;
    max-height: 100%;
    vertical-align:top;
    padding: 0px;
    margin: 0px;
    
}







@media only screen and (min-width: 992px) {
  #overlay {
    display:none;
    background-color:white;
  }
 
}
@media only screen and (max-width: 992px) {
 
.navbar{
    padding:20px 30px 20px 40px;   
}
.social-icon{
        text-align: center;
    }  
.copyright{
        text-align: center;
    }
.p-footer{
        text-align: center;
        margin:auto;
        float: center;
}



@media only screen and (max-width: 768px) {
    .card-project-left{
        padding: 0;
    }
    .card-project-right{
        padding: 0;
    }

    .tagline{
       
        padding: 0 5% 0 5%;
    }

    .card-title{
        display: none;
    }

    .card-parent{
        height: 45vh;
    }



    .card-parent-short{
        height: 45vh;
    }
    
}


@media only screen and (max-width: 576px) {
    

    .thumbnail-img{
        padding: 10%;
    }
    .tagline{
        /* height: 100px; */
        padding: 0 !important;
    }
    .card-title{
        display: none;
    }
    .aboutme-topic{
        margin-bottom: 48px;
    }
    .fun-fact{
        padding-left:0;
        padding-right:0;
        margin: 16px 0px 16px 0px;
        overflow: hidden; 
        cursor: pointer;
    }
    .newproject-card{

        height:50vh;
    }
    .card-parent{
        height: 50vh;
    }
  
}

