:root{
    --primary:#1B0B49;
    --base00:#fefff5;
    --base01:#f9f7f4;
    --babyblue:#EBF2FF;
    --eggyolk:#EBF2FF;
    --purple:#ECEBFF;
    --wasabi:#EAF2D2;
    --textprimary:#333333;


}
body{
    padding-top:0px;
    overflow-x: hidden;
    font-family: "body";
}


.home{
    background-color: var(--base00);
    padding:64px 8% 32px 8% !important; 
    /* display: flex; 
    flex-direction:column;  */
    align-items: center !important;
    justify-content: center !important;
    max-width: 1600px;
    margin-left: auto !important;
    margin-right: auto !important;
    
}

.content{
 padding: 0;
 margin:0;
}

.loading {
    background: url('/img/homepage/loading.gif') no-repeat center center;
    background-color: #fff;
    background-size: 180px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    background-color: var(--base00);

}

.header{
    margin-bottom: 96px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.tag-group{
    display: flex;
    gap:4px;

}
.tags{
    padding: 12px 16px;
    margin-right: 12px;
    font-size: 16px;
    color:#333;
    border-radius:24px;
    border: 1px solid #EFEAE3;
    display: inline-block;
    width: fit-content;
    background-color: var(--base01);

}

.container-fluid{
    padding-left:0px;
    padding-right:0px;
    
}
.row{
    margin-left:0px;
    margin-right:0px;
}

.tagline{
    margin-bottom: 100px;
    padding: 0 !important;
    max-width: 1200px;
    margin-left:0;
    margin-right:auto;
}


/*remove button outline and shadow*/
button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

/*button general styling*/
.btn{
    background-color:rgb(0,0,0,0.05);
    border-radius:32px;
    padding: 16px 24px 14px 24px !important;
    position:relative;
    color: var(--primary);
    text-align: center;
    /* margin-top: 0; */
    /* margin-bottom: auto; */
    display: flex;
}
.btn:hover{
    background-color: transparent !important;
    color: white;
}

.btn::before,
.btn::after {
  border-radius: 32px;
  background: #1B0B49;
  content: '';
  position: absolute;
  z-index: -1;
}


/*dark button hover*/
.btn-lightmode{
    overflow: hidden;
    border: none;
  
    
}
.btn-lightmode:hover{
    background-color: transparent;
}

.btn-lightmode:hover .btn-icon{
    background-image: url('/img/homepage/arrowwhite.svg');
    
}

.btn-lightmode:hover .btn-back-light{
    background-image: url('/img/homepage/arrow-back-white.svg');

}
.btn-icon{
    margin-left: 8px;
    display: inline-block;
    width: 26px;
    height: 22px;
    background-image: url('/img/homepage/arrow.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.3s;
}

.btn-back{
    margin-right: 8px;
    display: inline-block;
    width: 26px;
    height: 22px;
    background-image: url('/img/homepage/arrow-back-white.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.3s;

}
.btn-back:hover{
    background-image: url('/img/homepage/arrow-back-white.svg') !important;

}

.btn-back-light{
    margin-right: 8px;
    display: inline-block;
    width: 26px;
    height: 22px;
    background-image: url('/img/homepage/arrow-back-dark.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.3s;

}


.mask{
    display: inline-block;

    width:20px;
    height: 24px;
    background: url('/img/homepage/arrow.svg');
    -webkit-mask: url('/img/homepage/arrow.svg') no-repeat center;
    mask: url('/img/homepage/arrow.svg') no-repeat center;
}

.btn-lightmode::after{
    color: white;
    height:100%;
    left:-42%;
    top:0px;
    transform:skew(45deg);
    transition-duration:0.5s;
    transform-origin:top right;
    width:0;   
}

.btn-lightmode:hover .img{
    fill:white;
}
.btn-lightmode:hover:after{
    
    height:100%;
    width:145%;
}


.card-row{
    display:flex;
    gap:32px;
    
}

/*if want to switch to horizontal, remove flex-direction, flex, add aspect ratio: 2*/

.card-parent{ 
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    padding: 16px;
    margin-bottom: 32px; 
    gap: 0px;
    justify-content:space-between;
    overflow: hidden;
    transition: all 0.3s;
    flex: 1 1 0;
    width: 0;
    min-width: 400px;
    
}

.inlineLink{
    background-color: #F5F3E8;
    color:#333;
    padding: 0px 2px 0px 2px;
    
}

.inlineLink:hover{
    color:#B0B419;
    text-decoration: none;
    cursor: pointer;
}
.card-parent:hover{
    cursor: pointer;
    transform: scale(1.02);

}

.card-parent:hover .btn-request{
    opacity: 1;

}
.card-parent:hover .card-topChild .horizontalOval  {
    transform: rotate(-20deg);
    transition: all 0.3s;
}

.card-parent:hover .card-topChild .diamond  {
    transform: rotate(20deg);
    transition: all 0.3s;
}


.card-parent:hover .card-topChild .circle  {
    transform: scale(0.85);
    transition: all 0.3s;
}

.card-parent:hover .card-topChild .flower-8  {
    transform: rotate(20deg);
    transition: all 0.3s;
}

.card-parent:hover .card-topChild .cloud  {
    transform: rotate(20deg);
    transition: all 0.3s;
}




.card-leftChild{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.card-title{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-self: center;
}

.card-action{
   margin-bottom: 32px;
    
}

.card-topChild{
    width: 60%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 1;
    margin-bottom: 16px;

}

.card-botChild{
    background-color: #ffffff;
    border-radius: 32px;
    padding: 8px 32px 8px 32px;
}
.card-rightChild{
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    aspect-ratio: 1;

}


.card-img{
    top:50%;
    text-align: center;
    z-index: 1;

}

.horizontalOval{
    background-image: url(../img/homepage/dumbell.png);
    background-size: 100% 100%;
    transition: all 0.5s;
    position: absolute;
    width:100%;
    height:100%;
    /* background-color:var(--primary); */
    /* border-radius: 240px;
    background-repeat:no-repeat; */
    background-size: 90% 90%; 
    background-repeat:no-repeat;
    background-position: center center;
}

.verticalOval{
    transition: all 0.5s;
    position: absolute;
    width:56%;
    height:90%;
    background-color:var(--primary);
    border-radius: 200px;


}

.flower-8 {
    background-image: url(../img/homepage/flower-6.png);
    background-size: 100% 100%;
    position: absolute;
    width:100%;
    height: 110%;
    transition: all 0.5s;
    background-repeat:no-repeat;
    background-size: 80% 80%;
    background-position: center center;
  }

  .cloud {
    background-image: url(../img/homepage/mess.png);
    position: absolute;
    width:70%;
    height: 90%;
    transition: all 0.5s;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-position: center center;
  }



.drop{
    background-image: url(../img/homepage/drop.png);
    background-size: 100% 100%;
    position: absolute;
    width:100%;
    height: 100%;
    transition: all 0.5s;
    background-repeat:no-repeat;
    background-size: 80% 80%;
    background-position: center center;   
}

.circle{
    transition: all 0.5s;
    position: absolute;
    width:80%;
    height:80%;
    background-color:var(--primary);
    border-radius: 400px;

}
.diamond{
    position: absolute;
    transition: all 0.5s;
    rotate: 45deg;
    width:78%;
    height:78%;
    background-color:var(--primary);
    border-radius: 100px;

}


.dropshadow{
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, .08);
}

.slideupSection{
    display: inline-block;
    /* flex-wrap:wrap;  */
    /* position: relative; */


}

.slideupSection ::before{
    content:'';
    /* position:absolute;
    left:0;
    top:0; */
    width:80px;
    /* height: 100%; */
    z-index: 1;


}
.slideupSection .slide-texts{
    display: inline-block;
    background-color: transparent;
    position: relative;
    z-index: 2;
}


.slideupSection .slide-texts p span{
    display: inline-block;
    display: none;
    /* line-height: 86px; */
}

.slideupSection .slide-texts p span img{
    display: inline-block;
    /* margin-right: 12px; */
}

.slideupSection .slide-texts p span.text-in{
  display:inline-block;
  animation: textIn .3s ease; 
}
.slideupSection .slide-texts p span.text-out{
    
    
    animation: textOut .3s ease; 
  }


@keyframes textIn {
    0%{
        opacity: 0%;
        transform:translateY(-30%)
    }
    100%{
        opacity: 100%;
        transform:translateY(0%)
    }
}
@keyframes textOut {
    0%{
        opacity: 0%;
        transform:translateY(0%);
       
    }
    100%{
        transform:translateY(30%);
        opacity: 100%;
    }
}

.resume-section{
    display: flex;
    gap:80px;
    justify-content: flex-start;
    margin-top: 64px;
}

.resume-sectionRight{
    display: flex;
    gap:32px;
    margin-bottom: 64px;
    width: min-content;

   
}


.resume-leftColumn{
    flex-basis: 200px;
    flex-grow:0;
    flex-shrink: 0;
    margin-top:0px !important;

}
.resume-midColumn{
    flex-basis: 320px;
    flex-grow:0;
    flex-shrink: 0;
    margin-top: 8px !important;
}

.resume-rightColumn{
    margin-top: 8px;
    flex-basis: 400px;
    flex-grow:0;
    flex-shrink: 0;
   
}

/* Modal */
.modal{
    
    border-radius: 15px;
   
}

.modal-content{
    padding: 20px;
    height: 400px;
     
}

.modal-header  {
    border-bottom: 0 none;
   
}

.modal-footer {
    border-top: 0 none;
}

.close {
  font-weight: 400;
}


.input-box{
    margin-top: 30px;
    width: 100%;
    font-family: "font-light";
    letter-spacing: 4px;
    height: 30px;
    border-left: none;
    border-top:none;
    border-right:none;
    
}

.input-box:focus {
    outline: none !important;
    box-shadow: none;
    border-bottom-color: black;
    transition: all 0.2s ease;
    
}

::placeholder{
    color:#999999;
    font-family: "font-light" !important;
}

#validation{
    font-family: "font-light";
    margin-top: 8px;
    display: none;
    color:crimson;
}



img{
    max-width: 100%;
    max-height: 100%;
    vertical-align:top;
    padding: 0px;
    margin: 0px;
    
}







@media only screen and (min-width: 992px) {

  #overlay {
    display:none;
    background-color:white;
  }
 
}
@media only screen and (max-width: 992px) {
 
    .card-parent{
        width: 100%;
    }
    .tagline{
            flex-direction: column;
        }
     
.navbar{
    padding:20px 30px 20px 40px;   
}
.social-icon{
        text-align: center;
    }  
.copyright{
        text-align: center;
    }
.p-footer{
        text-align: center;
        margin:auto;
        float: center;
}

}

@media only screen and (max-width: 768px) {
    .card-row{
        flex-direction: column;
    }
    .card-project-left{
        padding: 0;
    }
    .card-project-right{
        padding: 0;
    }

    .tagline{
       
        padding: 0 5% 0 5%;
    }

    .card-title{
        display: none;
    }

    .card-parent{
        flex: 0 1 auto;
        height: 45vh;
    }



    .card-parent-short{
        height: 45vh;
    }
    
}


@media only screen and (max-width: 576px) {
    .card-row{
        flex-direction: column;
    }
    

    .thumbnail-img{
        padding: 10%;
    }
    .tagline{
        /* height: 100px; */
        padding: 0 !important;
    }
    .card-title{
        display: none;
    }
    .aboutme-topic{
        margin-bottom: 48px;
    }
    .fun-fact{
        padding-left:0;
        padding-right:0;
        margin: 16px 0px 16px 0px;
        overflow: hidden; 
        cursor: pointer;
    }
    .newproject-card{

        height:50vh;
    }
    .card-parent{
        height: 50vh;
        flex: 0 1 auto;
    }
  
}

